<h1 class="title">Welcome to the Yappy Trails Club!</h1>


<div class= "user-type">
  <div class= "owner">
    <h2><%= link_to "I am a pet owner", new_owner_path %></h2>
  </div>
  <div class= "sitter">
    <h2><%= link_to "I am a pet sitter", new_sitter_path %></h2>
  </div>
</div>


<!-- .button a {
    display: block;
    width: 100%;
    height: 100%;
} -->
