<h1>Welcome to PawPrints!</h1>





<div class= "user-type">
  <div class= "owner">
    <h2><%= link_to "I am a pet owner", new_owner_path %></h2>
  </div>
  <div class= "sitter">
    <h2><%= link_to "I am a pet sitter", new_sitter_path %></h2>
  </div>
</div>
