<div class="sign-up">

  <h1>Sign Up</h1>

  <%= form_tag "/new-owner" do %>
    <input type="hidden" name="user[role]" value="owner"/>
    <%= render partial: "new_user_form" %>
  <%end%>
  <div class="sign-in">Already have an account?<span><%= link_to "Sign In", "/user-sign-in" %></span></div>

</div>
