<div class="sign-in-up">

  <h1>Sign Up</h1>

  <%= form_tag "/new-sitter", class:"sitter-form" do %>
    <input type="hidden" name="role[role]" value="sitter"/>
    <%= render partial: "new_user_form" %>
  <%end%>
  <div class="sign-in">Already have an account?<span><%= link_to "Sign In", "/user-sign-in" %></span></div>

</div>
