body {
  // background-color: #78e4c4;
  font-family: 'Sarala', sans-serif;
}

.header {
    @include span-columns(12);
}

.header {
  .nav {
    float: right;
    // @include shift(9);
    display: inline-block;
    margin-top: 0;
  }
  img {
    display: inline-block;
  }
  li {
    margin-top: 0;
    display: inline-block;
  }
}

.notblue {
  a {color:
     white;
   }
  ul {
    margin: 0;
  }
  background-color: black;
  display: inline-block;
  float: right;

}

.icon  {
  display: inline-block;
  float: left;
  margin-left: 125px;
}

h1 {
  text-align: center;
}

.title {
  font-family: 'Sarala', sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.user-type {
  @include span-columns(10);
  @include shift(2);
  padding-top: 50px;
}

.owner {
  @include span-columns(5);
  display: inline-block;
  background-color: #b0096d;
  font-size: 24px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.owner a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -3em;
}


.owner:hover {
  background-color: #e641a4;
  cursor: pointer;
  box-shadow: none;
}

.owner h2 {
  padding-top: 45px;
  text-align: center;

}

.owner a {
  color: black;
}

.sitter {
  @include span-columns(5);
  display: inline-block;
  background-color: #2ae21a;
  border-width: 3px;
  border-color: rgba(35, 179, 21, 0.7);
  font-size: 24px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.sitter:hover {
  background-color: #6bf260;
  cursor: pointer;

}

.sitter a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -3em;
}
.sitter h2 {
  padding-top: 45px;
  text-align: center;
}

.sitter a {
  color: black;
}

.row {
  @include span-columns(12);
}
.sitter-row {
  @include span-columns(3);
  border: 2px solid black;
}

// report cards

.user-dash {
  font-size: 36px;
}


.deets {
  margin: 2px;
  border-bottom: .5px solid rgba(230, 226, 236, 0.3);
}

.individual {
  border: 1px solid #dbc7c4;
}


.reportcard {
  @include span-columns(10);
  border: 1px solid #dbc7c4;
  display: inline-block;
  overflow: scroll;
  height: calc(100vh - 165px);
}

.pet-name {
  font-size: 24px;
}

.create-report {
  display: inline-block;
  float: right;
  margin-right: 20px;
  font-size: 24px;
  color: rgb(20, 147, 67);
}

.create-report:hover {
  color: rgb(15, 217, 17);
}

.little {
  color: rgb(20, 147, 67);
}

.little:hover {
  color: rgb(15, 217, 17);
}
.sitterpage {
  @include span-columns(10);
  @include shift(1);

  // border: 2px solid black;
  display: inline-block;
  background-color: rgba(227, 241, 227, 0.5);
  // float: left;
}



.clients {
  @include span-columns(3);
  display: inline-block;
}


.dashboard {

  @include span-columns(8);
  @include shift(1);
  display: inline-block;
  // overflow: scroll;
  // height: calc(100vh - 165px);
}

.pet{
  display: inline-block;
}

.little-button {
  background-color: #78e4c4;
  width: 10px;
  font-size: 10px;
  color: white;
  display: inline-block;
}

.little {
  float: right;
}


.owner-page {
  @include span-columns(12);
  border: 2px solid black;
  display: inline-block;
}

.add-pet {
  @include span-columns(12);
}

.my-pets {
  @include span-columns(3);
  display: inline-block;
  border-right: 1px solid rgb(244, 233, 245);
}

.my-sitters {
  margin-top: 20px;
  border-top: 1px solid rgb(244, 233, 245);
  h2 {
    margin-top: 15px;
  }
}

.profile {
  @include span-columns(8);
  @include shift(4);
}
