body {
  // background-color: #78e4c4;
  // font-family: 'Sarala', sans-serif;
  font-family: 'Lato', sans-serif;
  background-color: #edf5f6;
}

.background {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: image-url("golden.jpg");
  //  no-repeat center center fixed;
  background-repeat: no-repeat;
  // -webkit-background-size: cover;
  -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.header {
    @include span-columns(12);
}

.header {
  .nav {
    float: right;
    // @include shift(9);
    display: inline-block;
    margin-top: 0;
  }
  img {
    display: inline-block;
  }
  li {
    margin-top: 0;
    display: inline-block;
  }
}

.notblue {
  a {color:
     white;
   }
  ul {
    margin: 0;
  }
  background-color: black;
  display: inline-block;
  float: right;
}

.icon  {
  @include span-columns(3);
  display: inline-block;
  margin: 8px;

}

h1 {
  text-align: center;
}

.title {
  @include span-columns(5);
  font-family: 'Sarala', sans-serif;
  font-size: 46px;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 12px;
}

.user-type {
  @include span-columns(7);
  padding-top: 100px;
  margin-left: 30px;
}

.owner {
  @include span-columns(4);
  display: block;
  float: left;
  background-color: #FF686B;
  // background-color: rgb(129, 121, 105);
  // background-color: #b0096d;
  font-size: 24px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.owner a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -3em;
}


.owner:hover {
  // background-color: #e641a4;
  // background-color: #6bf260;
  background-color: #FFA69E;
  cursor: pointer;
  box-shadow: none;
}

.owner h2 {
  padding-top: 45px;
  text-align: center;

}

.owner a {
  color: black;
}

.sitter {
  @include span-columns(4);
  display: block;
  float: left;
  // background-color: #2ae21a;
  background-color: #84DCC6;
  // background-color: rgb(82, 138, 84);
  border-width: 3px;
  border-color: rgba(35, 179, 21, 0.7);
  font-size: 24px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.sitter:hover {
  // background-color: #6bf260;
  cursor: pointer;
  background-color: #A5FFD6;

}

.sitter a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -3em;
}

.sitter h2 {
  padding-top: 45px;
  text-align: center;
}

.sitter a {
  color: black;
}

.row {
  @include span-columns(12);
  display: inline-block;
}

.sitter-row {
  @include span-columns(6);
  display: inline-block;
  .p-name {
    text-align: center;
   }
  }

.animal-info {
  @include span-columns(12);
  background-color: rgba(157, 162, 231, 0.2);
}


  .petpic {

    text-align: right;
    img {
      border-radius: 5%;
    }
  }




// report cards

.report-image {
  margin-left: 25px;
}

.user-dash {
  font-size: 36px;
}


.deets {
  margin: 2px;
  border-bottom: .5px solid rgba(230, 226, 236, 0.3);
}

.individual {
  border: 1px solid #dbc7c4;
}


.reportcard {
  @include span-columns(12);
  // @include shift(1);
  border: 1px solid #dbc7c4;
  display: inline-block;
  overflow: scroll;
  height: calc(100vh - 165px);
}

img, picture {
  @margin-left: 30px;
}

.pet-name {
  font-size: 24px;
}

.create-report {
  display: inline-block;
  float: right;
  margin-right: 20px;
  font-size: 24px;
  color: rgb(20, 147, 67);
}

.create-report:hover {
  color: rgb(15, 217, 17);
}

.little {
  color: rgb(20, 147, 67);
}

.little:hover {
  color: rgb(15, 217, 17);
}

.sitterpage {
  @include span-columns(10);
  @include shift(1);

  // border: 2px solid black;
  display: inline-block;
  background-color: rgba(227, 241, 227, 0.5);
  // float: left;
}


.owner-info {
  @include span-columns(12);
  background-color: rgba(157, 162, 231, 0.2);
}

.left {
  @include span-columns(9);
}

.pet-photo {
  @include span-columns(3);
  float: right;
}

.jsreport {
  @include span-columns(10);
  @include shift(2);
  border: 2px solid black;

}


.email-reportcard {
  border: 1px solid black;
}


.clients {
  @include span-columns(3);
  display: inline-block;
}


.dashboard {
  @include span-columns(8);
  @include shift(1);
  display: inline-block;
  // overflow: scroll;
  // height: calc(100vh - 165px);
}

.pet{
  display: inline-block;
}

.little-button {
  background-color: #78e4c4;
  width: 10px;
  font-size: 10px;
  color: white;
  display: inline-block;
}

.little {
  float: right;
}

// **********OWNER PAGE******************


.ownerpage {
  @include span-columns(10);
  @include shift(1);
  display: inline-block;
  background-color: rgba(227, 241, 227, 0.5);
}



.add-pet {
  @include span-columns(11);
  @include shift(1);
}

.my-pets {
  @include span-columns(3);
  @include shift(1);
  display: inline-block;
  border-right: 1px solid rgb(244, 233, 245);
}


.dboards {
  @include span-columns(7);
}

.sitter-round {
  border-radius: 50%;
}


.my-sitters {
  margin-top: 20px;
  border-top: 1px solid rgb(244, 233, 245);
  h2 {
    margin-top: 15px;
  }
}

.profile {
  @include span-columns(8);
  @include shift(4);
}


.sitter-form {
  @include span-columns(5);
}


.footer {
  
}
