body {
  background-color: #78e4c4;
  font-family: 'Sarala', sans-serif;
}

.header {
    @include span-columns(12);
}

.header {
  .nav {
    float: right;
    // @include shift(9);
    display: inline-block;
    margin-top: 0;
  }
  img {
    display: inline-block;
  }
  li {
    margin-top: 0;
    display: inline-block;
  }
}

.notblue {
  a {color:
     white;
   }
  ul {
    margin: 0;
  }
  background-color: black;
  display: inline-block;
  float: right;

}

.icon  {
  display: inline-block;
  float: left;
}

h1 {
  text-align: center;
}

.title {
  font-family: 'Sarala', sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.user-type {
  @include span-columns(10);
  @include shift(2);
  padding-top: 50px;
}

.owner {
  @include span-columns(5);
  display: inline-block;
  background-color: #b0096d;
  font-size: 24px;
  height: 150px;
}

.owner a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 5em;
  margin: -5em;
}


.owner:hover {
  background-color: #e641a4;
  cursor: pointer;
}

.owner h2 {
  padding-top: 45px;
  text-align: center;

}

.owner a {
  color: black;
}

.sitter {
  @include span-columns(5);
  display: inline-block;
  background-color: #2ae21a;
  font-size: 24px;
  height: 150px;
}

.sitter:hover {
  background-color: #6bf260;

}

.sitter a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 5em;
  margin: -5em;
}
.sitter h2 {
  padding-top: 45px;
  text-align: center;
}

.sitter a {
  color: black;
}




.add-pet {
  color: blue;
}

.add-pet:hover {
  background-color: black;
}

// report cards

.reportcard {
  border: 2px solid black;
  display: inline-block;
  margin: 0 0 0 50px;
}

.sitterpage {
  border: 2px solid black;
  width: 300px;
  display: inline-block;
  float: left;
}

.dashboard {
  border: 2px solid black;
  width: 900px;
  display: inline-block;
  height: 1000px;

}
