<h1>About Yappy Trails</h1>

<p>
  Yappy Trails Club is an app that allows pet sitters to easily keep track of their clients and create useful reports on pet behaviors and activities. The simple and automated communication with pet owners provides pet parents the peace of mind knowing what their furry friends are up to throughout the day.
</p>
